<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation=
"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id = "ob" class="mypack.person">
<constructor-arg value="Raj"></constructor-arg>
<constructor-arg value="9975105927"></constructor-arg>
</bean>

<bean id = "ob2" class = "mypack.employee" parent = "ob">
<constructor-arg value = "101"></constructor-arg>
<constructor-arg value = "75000"></constructor-arg>
<constructor-arg value = "MTech"></constructor-arg>
</bean>

</beans>