<!DOCTYPE html>
<html>
<head>
    <title>Add Visitor</title>
</head>
<body>
    <h1>Add Visitor</h1>
    <form th:action="@{/addVisitor}" th:object="${visitor}" method="post">
        Name: <input type="text" th:field="*{name}"><br>
        Mobile No: <input type="text" th:field="*{mobileNo}"><br>
        Work: <input type="text" th:field="*{work}"><br>
        ID Card Details: <input type="text" th:field="*{idCardDetails}"><br>
        <button type="submit">Add Visitor</button>
    </form>
</body>
</html>
